.container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 80px;
}
.inputGroup {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 12px;
}
.input{
    min-width: 340px;
}